0,0,,01.04,02.04,03.04,04.04,05.04,06.04,07.04,08.04,09.04,10.04,11.04,12.04,
21,Arlie Marvin,"[html, css, математика, алгоритмы, python, gamedev]",css,,,,,,,,,,,,
37,Alek Bernier,"[python, machine-learning, django]","python, robotics",,,,,,,,,,,,
36,Jeffrey Paucek,"[математика, linux]",математика,"математика, алгоритмы",,,,,,,,,,,
6,Julio Cronin,[java],linux,java,,,,,,,,,,,
40,Scotty Reynolds,"[python, sql, системная аналитика, django]","sql, python",python,,,,,,,,,,,
33,Earnest Rath,"[android, unity3d]","sqlite, android, unity3d","android, бд, unity3d",,,,,,,,,,,
1,Krystel Mayer,"[ruby, oop, react-native, js, hanami, ruby-on-rails, android, web]","html, css, bulma, ruby, js","ruby, js, hanami",,,,,,,,,,,
14,Henri Macejkovic,"[python, анализ даннных]",python,python,,,,,,,,,,,
3,Erwin Ritchie,"[c#, unity3d, ui/ux, gamedev]",c#,,,,,,,,,,,,
11,Colten Aufderhar,"[алгоритмы, testing, python]",алгоритмы,testing,,,,,,,,,,,
25,Jacey Kirlin,"[html, css, js, web]","html, css",,,,,,,,,,,,
26,Raphaelle Hintz,"[python, java]",,,,,,,,,,,,,
12,Sarina Bednar,"[c++, qt, oop, алгоритмы]",c++,,,,,,,,,,,,
27,Otis Bauch,"[js, scheme, c, android]",управление проектами,"scheme, js",,,,,,,,,,,
34,Zula Ondricka,"[sip, testing, алгоритмы]",алгоритмы,,,,,,,,,,,,
24,Troy Rogahn,"[arduino, android, linux, web]",arduino,web,,,,,,,,,,,
4,Jennie Simonis,"[java, c#, swift]",java,,,,,,,,,,,,
10,Enrique Gottlieb,"[java, arduino, js]",java,"java, oop, arduino",,,,,,,,,,,
5,Ruben Murphy,"[html, css, js, web]","html, css",css,,,,,,,,,,,
7,Wilton Funk,[testing],testing,testing,,,,,,,,,,,
13,Santino Blanda,"[python, ruby, математика, нейросети, web]",+,ruby-on-rails,,,,,,,,,,,
31,Patsy Veum,"[groovy, grails, mule, sping, docker, java]","grails, linux",grails,,,,,,,,,,,
22,Juliana Strosin,[python],+,,,,,,,,,,,,
9,Mayra Blick,"[matlab, fortran]",matlab,matlab,,,,,,,,,,,
20,Abdiel Pfannerstill,"[java, android]","java, android","android, java",,,,,,,,,,,
23,Uriah Marquardt,[android],android,android,,,,,,,,,,,
35,Una Runte,"[html, css, python, web]",,,,,,,,,,,,,
38,Sebastian Marquardt,"[java, python, android]",java,java,,,,,,,,,,,
8,Orie Muller,"[python, django]",redis,"django, python",,,,,,,,,,,
15,Beth Walter,"[js, chrome]","vk api, chrome",vk api,,,,,,,,,,,
39,Brett Jerde,"[python, c++, алгоритмы, математика]",python,python,,,,,,,,,,,
2,Magnus Volkman,"[c#, unity3d]",c#,,,,,,,,,,,,
28,Andre McLaughlin,"[c++, алгоритмы]",математика,+,,,,,,,,,,,
17,Otis Kulas,"[js, python, алгоритмы, математика]",математика,"python, machine learning",,,,,,,,,,,
30,Chauncey Gleason,"[python, git]",python,git,,,,,,,,,,,
16,Lavinia Gutkowski,"[java, математика, c#]",история,"история, c#",,,,,,,,,,,
29,Arch Altenwerth,"[java, microservices, bigdata]",+,?,,,,,,,,,,,
19,Micaela Zemlak,"[html, js, gamedev]",gamedev,"js, gamedev",,,,,,,,,,,
32,Aglae Goodwin,"[c#, java]",+,,,,,,,,,,,,
18,Cleta Fay,"[php, js, mysql, css, html, web]",+,php,,,,,,,,,,,
